@model IEnumerable<web4.List>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p> </p>
<h2>報修清單</h2>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Title)*@
            報修物件
        </th>
        <th>
           報修狀態
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CreateTime)*@
            報修時間
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ModifyTime)*@
            完成時間
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
            
        </td>
        <td>
            @{
                if (item.State)
                {
                    <span class="badge badge-success">已完成</span>
                }
                else
                {
                    <span class="badge badge-danger">未完成</span>
                }
            }
            @*@Html.DisplayFor(modelItem => item.State)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @{
                if (item.State)
                {
                    @Html.DisplayFor(modelItem => item.ModifyTime)
                }
                else
                {
                    <p> </p>
                }
            }
            @*@Html.DisplayFor(modelItem => item.ModifyTime)*@
        </td>
        <td>
            <button type="button" class="btn btn-primary">@Html.ActionLink("編輯", "Edit", new { id = item.SN }, new { style = "color:white" })</button> |
            @*@Html.ActionLink("編輯", "Edit", new { id = item.SN }) |*@
            @*@Html.ActionLink("內容", "Details", new { id=item.SN }) |*@
            <button type="button" class="btn btn-danger">@Html.ActionLink("刪除", "Delete", new { id = item.SN }, new { style = "color:white" })</button>
        </td>
    </tr>
}

</table>

<button type="button" class="btn btn-dark">@Html.ActionLink("新增報修", "Create", null, new { style = "color:white" })</button>
